<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>MediCare</display-name>
  <welcome-file-list>
  
    <welcome-file>Generalhome.jsp</welcome-file>
   
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adminsearch</display-name>
    <servlet-name>Adminsearch</servlet-name>
    <servlet-class>com.admin.Adminsearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminsearch</servlet-name>
    <url-pattern>/Adminsearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServValidating</display-name>
    <servlet-name>ServValidating</servlet-name>
    <servlet-class>com.valid.ServValidating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServValidating</servlet-name>
    <url-pattern>/ServValidating</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Del</display-name>
    <servlet-name>Del</servlet-name>
    <servlet-class>com.deletion.Del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Del</servlet-name>
    <url-pattern>/Del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadHandler</display-name>
    <servlet-name>FileUploadHandler</servlet-name>
    <servlet-class>com.imagehere.FileUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadHandler</servlet-name>
    <url-pattern>/FileUploadHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addinghere</display-name>
    <servlet-name>Addinghere</servlet-name>
    <servlet-class>com.adding.Addinghere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addinghere</servlet-name>
    <url-pattern>/Addinghere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatinghere</display-name>
    <servlet-name>Updatinghere</servlet-name>
    <servlet-class>com.adding.Updatinghere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatinghere</servlet-name>
    <url-pattern>/Updatinghere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logouthere</display-name>
    <servlet-name>Logouthere</servlet-name>
    <servlet-class>com.out.Logouthere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logouthere</servlet-name>
    <url-pattern>/Logouthere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Passvalidate</display-name>
    <servlet-name>Passvalidate</servlet-name>
    <servlet-class>com.valid.Passvalidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Passvalidate</servlet-name>
    <url-pattern>/Passvalidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updateuserinfo</display-name>
    <servlet-name>Updateuserinfo</servlet-name>
    <servlet-class>com.valid.Updateuserinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateuserinfo</servlet-name>
    <url-pattern>/Updateuserinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Existinguser</display-name>
    <servlet-name>Existinguser</servlet-name>
    <servlet-class>com.u.Existinguser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Existinguser</servlet-name>
    <url-pattern>/Existinguser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cartupdate</display-name>
    <servlet-name>Cartupdate</servlet-name>
    <servlet-class>com.u.Cartupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cartupdate</servlet-name>
    <url-pattern>/Cartupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userlogout</display-name>
    <servlet-name>Userlogout</servlet-name>
    <servlet-class>com.out.Userlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userlogout</servlet-name>
    <url-pattern>/Userlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cartupdate2</display-name>
    <servlet-name>Cartupdate2</servlet-name>
    <servlet-class>com.u.Cartupdate2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cartupdate2</servlet-name>
    <url-pattern>/Cartupdate2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cartdelete</display-name>
    <servlet-name>Cartdelete</servlet-name>
    <servlet-class>com.u.Cartdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cartdelete</servlet-name>
    <url-pattern>/Cartdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminlogout</display-name>
    <servlet-name>Adminlogout</servlet-name>
    <servlet-class>com.valid.Adminlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogout</servlet-name>
    <url-pattern>/Adminlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validateandpay</display-name>
    <servlet-name>Validateandpay</servlet-name>
    <servlet-class>com.u.Validateandpay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validateandpay</servlet-name>
    <url-pattern>/Validateandpay</url-pattern>
  </servlet-mapping>
</web-app>